body{
   padding: 0;
   margin: 0;
   font-family: sans-serif,Arial;
}

a{
   color: #000;
   text-decoration: none;
}

#container-auth{
   display: block;
}

.gradient--5 {
  --gradient-start: #5378E1;
  --gradient-end: #41D8DD;
}

li {
  position: relative;
  text-align: center;
  list-style: none;
}

.gradient {
  display: block;
  height: 100vh;
  width: 100%;
  background: linear-gradient(33deg, var(--gradient-start), var(--gradient-end));
}


.end-color:before { background-color: var(--gradient-start); }

.start-color:before { background-color: var(--gradient-end); }

#container-connexion{
   text-align: center;
   position:absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   background-color: #fff;
   padding: 30px;
   border-radius: 10px;
   box-shadow: 0 5px 10px #0002;
}
#Error{
   color: red;
}

.main-container-projets{
   position: relative;
   top: 120px;
   height: auto;
   width: 100%;
   text-align: center;
   /* display: flex;
   flex-wrap: wrap;
   justify-content: center;*/
}

.main-container-projets h3{
   font-size: 12px;
   padding-left: 10px;
   margin: 0;
}

.container-projet{
   display: inline-block;
   margin: 0 5px 30px 5px;
   width: 85%;
   max-width: 450px;
   background-color: #eee;
   border-radius: 10px;
   box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.06);
}

.title{
   position: relative;
   left: 50%;
   transform: translate(-50%);
   width: 93%;
   background-color: #3f51b5;
   border-radius: 10px;
   color: #fff;
   font-size: 9px;
   height: auto;
   line-height: 45px;
}

.description-projet{
   height: auto;
   width: 100%;
   font-size: 11px;
   text-align: left;
   margin-top: 20px;
}

.description-projet p{
   padding: 0 10px 0 10px;
   line-height: 1.4em;
}

.chef-Projet{
   display: flex;
   vertical-align: middle;
   font-size: 11px;
   margin-top: 20px;
   margin: 30px 0 20px 0;
   position: relative;
}

.chef-Projet p{
   margin: 0;
}

.chef-Projet p:nth-child(2){
   line-height: 1.5em;
}

.container-Membres{
   display: flex;
   float: right;
   position: absolute;
   right: 10px;
}

.icone-membres{
   height: auto;
   width: 17px;
}

.container-Membres .nombres-membres{
   line-height: 1.5em;
}




/*

.title{
   display: flex;
   background-color: #3f51b5;
   height: 40px;
   width: 100%;
   border-bottom: solid 2px #2d2d2d;
   border-radius: 10px 10px 0 0;
   color: #fff;
}

.title h2{
   font-size: 18px;
   margin: auto;
}

.main-container-projet h3{
   font-size: 15px;
   padding-left: 10px;
   margin: 0;
}

.description-projet{
   height: auto;
   width: 100%;
   font-size: 14px;
   text-align: left;
   margin-top: 20px;
}

.description-projet p{
   padding: 0 10px 0 10px;
   line-height: 1.4em;
}

.chef-Projet{
   display: flex;
   vertical-align: middle;
   font-size: 14px;
   margin-top: 20px;
   margin: 30px 0 20px 0;
   position: relative;
}

.chef-Projet p{
   margin: 0;
}

.container-Members{
   display: flex;
   float: right;
   position: absolute;
   right: 10px;
}

.icone-membres{
   height: auto;
   width: 20px;
}
*/
