body{
   padding: 0;
   margin: 0;
   font-family: sans-serif,Arial;
}

a{
   color: #000;
   text-decoration: none;
}

#container-auth{
   display: block;
}

.gradient--5 {
  --gradient-start: #5378E1;
  --gradient-end: #41D8DD;
}

li {
  position: relative;
  text-align: center;
  list-style: none;
}

.gradient {
  display: block;
  height: 100vh;
  width: 100%;
  background: linear-gradient(33deg, var(--gradient-start), var(--gradient-end));
}


.end-color:before { background-color: var(--gradient-start); }

.start-color:before { background-color: var(--gradient-end); }

#container-connexion{
   text-align: center;
   position:absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   background-color: #fff;
   padding: 30px;
   border-radius: 10px;
   box-shadow: 0 5px 10px #0002;
}
#Error{
   color: #fff;
   background-color: #e62121;
   height: 40px;
   width: 100%;
   display: block;
   text-align: center;
   font-size: 16px;
   line-height: 2.5em;
}

/*********************\
         MENU
\*********************/

.container-menu{
   z-index: 1;
  position: fixed;
  bottom: 0;
  left:50%;
  transform: translate(-50%);
  width: 100%;
  height: 50px;
  background-color: #fff;
  box-shadow: 0 -3px 5px rgba(000,000,002,0.1);
}

.container-menu p{
   margin:0;
}

.container-icones{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  width: auto;
}

.icones{
  margin: 0 30px 0 30px;
}

.icones img{
   height: 30px;
}

/*********************\
      PAGE PROJETS
\*********************/

.main-container-projets{
   position: relative;
   top: 120px;
   height: auto;
   width: 100%;
   text-align: center;
}

.main-container-projets h3{
   font-size: 12px;
   padding-left: 10px;
   margin: 0;
}

.container-projet{
   display: inline-block;
   margin: 0 5px 30px 5px;
   background-color: #eee;
   border-radius: 12px;
   box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.06);
}

.title{
   position: relative;
   left: 50%;
   transform: translate(-50%);
   width: 93%;
   background-color: #3f51b5;
   border-radius: 10px;
   color: #fff;
   font-size: 9px;
   height: auto;
   line-height: 45px;
}

.title a{
   color: #fff;
}

.description-projet{
   height: auto;
   width: 100%;
   font-size: 11px;
   text-align: left;
   margin-top: 20px;
}

.description-projet p{
   padding: 0 10px 0 10px;
   line-height: 1.4em;
}

.chef-Projet{
   display: flex;
   vertical-align: middle;
   font-size: 11px;
   margin-top: 20px;
   margin: 30px 0 20px 0;
   position: relative;
}

.chef-Projet p{
   margin: 0;
}

.chef-Projet p:nth-child(2){
   line-height: 1.5em;
}

.container-Membres{
   display: flex;
   float: right;
   position: absolute;
   right: 10px;
}

.icone-membres{
   height: auto;
   width: 17px;
}

.container-Membres .nombres-membres{
   line-height: 1.5em;
}

.popup-btn{
   display: inline-block;
   width: 85%;
   max-width: 450px;
}

.overlay{
   z-index: 1;
   width: 100%;
   height: 100%;
   display: none;
   position: fixed;
   top: 0px;
   left: 0px;
   content: '';
   background: rgba(0, 0, 0, 0.85);
}

.cache{
   display: none;
}

.cache a{
   position: absolute;
   right: 20px;
   top: 0;
}

.cache p{
   color: green;
}

.popup-box {
   z-index: 0;
  transform: scale(1);
  position: relative;
  top: auto;
  left:  auto;
}

.transform-in, .transform-out {
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.transform-in{
   -webkit-transition: all ease 0.7s;
   transition: all ease 0.7s;
   -webkit-transform: scale(1.5);
   transform: translate(0,0) scale(1.2);
   position: fixed;
   top: 35%;
   left: 10%;
   width: 78%;
}

.transform-out{
   cursor: pointer;
}

.sub-container-projet{
   position: absolute;
   display: contents;
}





@media (min-width: 600px){

   .popup-btn1, .popup-btn, .popup-btn2{
      display: inline-block;
      width: 85%;
      max-width: 450px;
   }

   .btn {
     margin-top: 30px;
     padding: 2.2% 5.5%;
     display: inline-block;
     -webkit-transition: all linear 0.15s;
     transition: all linear 0.15s;
     border-radius: 3px;
     background: #fff;
     font-size: 22px;
     font-weight: bold;
     text-decoration: none;
     text-transform: uppercase;
     color: #333;
   }
   .btn:hover {
     opacity: 0.75;
   }

   .test{
      z-index: 1;
      width: 100%;
      height: 100%;
      display: none;
      position: absolute;
      top: 0px;
      left: 0px;
      content: '';
      background: rgba(0, 0, 0, 0.85);
   }

   .cache{
      display: none;

   }

   .cache p{
      color: green;
   }

   .popup-box {
      z-index: 0;
     transform: scale(1);
     position: relative;
     top: auto;
     left:  auto;
   }

   .popup-box1 {
     transform: scale(1);
     position: relative;
   }

   .transform-in, .transform-out {
     -webkit-transition: all ease 0.5s;
     transition: all ease 0.5s;
   }

   .transform-in{
      -webkit-transition: all ease 0.7s;
      transition: all ease 0.7s;
      -webkit-transform: scale(1.5);
      transform: translate(0,0) scale(1.5); /*modifier top, left et width par rapport a l'ecran*/
      position: absolute;
      top: 30%;
      left: 24%;
      width: 50%;
   }
}
