body{
   padding: 0;
   margin: 0;
   font-family: sans-serif,Arial;
}

a{
   color: #000;
   text-decoration: none;
}

#container-auth{
   display: block;
}

.gradient--5 {
  --gradient-start: #5378E1;
  --gradient-end: #41D8DD;
}

li {
  position: relative;
  text-align: center;
  list-style: none;
}

.gradient {
  display: block;
  height: 100vh;
  width: 100%;
  background: linear-gradient(33deg, var(--gradient-start), var(--gradient-end));
}

.end-color:before { background-color: var(--gradient-start); }

.start-color:before { background-color: var(--gradient-end); }

#container-connexion{
   text-align: center;
   position:absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   background-color: #fff;
   padding: 30px;
   border-radius: 10px;
   box-shadow: 0 5px 10px #0002;
}

#Error{
   color: #fff;
   background-color: #e62121;
   height: 40px;
   width: 100%;
   display: block;
   text-align: center;
   font-size: 16px;
   line-height: 2.5em;
}

/*********************\
         MENU
\*********************/

.container-menu{
   z-index: 1;
   position: fixed;
   bottom: 0;
   left:50%;
   transform: translate(-50%);
   width: 100%;
   height: 50px;
   background-color: #fff;
   box-shadow: 0 -3px 5px rgba(000,000,002,0.1);
}

.container-menu p{
   margin:0;
}

.container-icones{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  width: auto;
}

.icones{
  margin: 0 30px 0 30px;
}

.icones img{
   height: 25px;
}

/*********************\
      PAGE PROJETS
\*********************/

.main-container-projets{
   position: relative;
   top: 120px;
   height: auto;
   width: 100%;
   text-align: center;
}

.main-container-projets h3{
   font-size: 12px;
   padding-left: 10px;
   margin: 0;
}

.container-projet{
   display: inline-block;
   margin: 0 5px 30px 5px;
   background-color: #eee;
   border-radius: 12px;
   box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.06);
}

.title{
   position: relative;
   left: 50%;
   transform: translate(-50%);
   width: 93%;
   background-color: #3f51b5;
   border-radius: 10px;
   color: #fff;
   font-size: 9px;
   height: auto;
   line-height: 45px;
}

.title a{
   color: #fff;
}

.description-projet{
   height: auto;
   width: 100%;
   font-size: 11px;
   text-align: left;
   margin-top: 20px;
}

.description-projet p{
   padding: 0 10px 0 10px;
   line-height: 1.4em;
}

.chef-Projet{
   display: flex;
   vertical-align: middle;
   font-size: 11px;
   margin-top: 20px;
   margin: 30px 0 20px 0;
   position: relative;
}

.chef-Projet p{
   margin: 0;
}

.chef-Projet p:nth-child(2){
   line-height: 1.5em;
}

.container-Membres{
   display: flex;
   float: right;
   position: absolute;
   right: 10px;
}

.icone-membres{
   height: auto;
   width: 17px;
}

.container-Membres .nombres-membres{
   line-height: 1.5em;
}

.popup-btn{
   display: inline-block;
   width: 85%;
   max-width: 450px;
}

.overlay{
   z-index: 1;
   width: 100%;
   height: 100%;
   display: none;
   position: fixed;
   top: 0px;
   left: 0px;
   content: '';
   background: rgba(0, 0, 0, 0.85);
}

.cache{
   display: none;
}

.cache a{
   position: absolute;
   right: 20px;
   top: 0;
}

.cache p{
   color: green;
}

.popup-box {
   z-index: 0;
   transform: scale(1);
   position: relative;
   top: auto;
   left:  auto;
}

.transform-in, .transform-out {
   -webkit-transition: all ease 0.5s;
   transition: all ease 0.5s;
}

.transform-in{
   -webkit-transition: all ease 0.7s;
   transition: all ease 0.7s;
   -webkit-transform: scale(1.5);
   transform: translate(0,0) scale(1.2);
   position: fixed;
   top: 35%;
   left: 10%;
   width: 78%;
}

.transform-out{
   cursor: pointer;
}

.sub-container-projet{
   position: absolute;
   display: contents;
}

/************************\
      PAGE NEW PROJET
\************************/

textarea{
   resize: none;
}

.fs-title {
    font-size: 15px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 30px;
}

/*form styles*/
.msform {
    position: relative;
    top: 150px;
    font-family: arial, , sans-serif,verdana;
    width: 100%;
    text-align: center;
}

.msform fieldset {
    /*stacking fieldsets above each other*/
    position: relative;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10% 20px 10%;
    border: 0 none;
}

/*inputs*/
.msform input, .msform textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 13px;
    font-family: arial, sans-serif;
}

.wrapper{
   display: flex;
   position: relative;
   top: 50px;
   margin-bottom: 50px;
}

.wrapper p{
   margin:14px 0;
}

/* Basic styles */
input[type="checkbox"]{
  position: absolute;
  opacity: 0;
  z-index: -1;
  width: auto;
}
label {
  color: #000;
  position: relative;
  display: inline-block;
  padding: 0 0 0 2.5em;
  height: 1.5em;
  line-height: 1.6;
  cursor: pointer;
}
/* Transition */
label::before,
label::after {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 1.5em;
  height: 1.5em;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}
label::before {
  content: " ";
  border: 2px solid #bdc3c7;
  border-radius: 20%;
}
/* Checkbox */
input[type="checkbox"] + label::after {
  content: "\2714";
  color: #2c3e50;
  line-height: 1.6;
  text-align: center;
  margin: 1px;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}
/* :checked */
input[type="checkbox"]:checked + label::before {
  background: #fff;
  border-color: #2c3e50;
}
input[type="checkbox"]:checked + label::after{
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

fieldset img{
   height: 17px;
   width: 17px;
   position: absolute;
   top: 10px;
   margin-left: 10px;
}

/* Popup container - can be anything you want */
.popupinfo {
   display: flex;
   position: static;
   cursor: pointer;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

/* The actual popup */
.popupinfo .popuptexteinfo {

  visibility: hidden;
  width: 270px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 70%;
  left: -10%;
}

/* Popup arrow */
.popupinfo .popuptexteinfo::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popupinfo .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

#descriptionC{
   height: 14em;
   resize: none;
}

#descriptionL{
   height: 20em;
   resize: none;
}

#creation{
   margin-bottom: 50px;
}

@media (min-width: 600px){

   /*********************\
            MENU
   \*********************/

   .container-menu{
      z-index: 1;
     position: fixed;
     top: 0;
     left:50%;
     transform: translate(-50%);
     width: 100%;
     height: 50px;
     background-color: #fff;
     box-shadow: 0 3px 5px rgba(000,000,002,0.1);
   }

   .container-icones{
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%,-50%);
     display: flex;
     width: auto;
   }

   .icones{
     margin: 0 30px 0 30px;
   }

   .icones img{
      height: 30px;
   }

   /*********************\
         PAGE PROJETS
   \*********************/

   .transform-in{
      -webkit-transition: all ease 0.7s;
      transition: all ease 0.7s;
      -webkit-transform: scale(1.5);
      transform: translate(0,0) scale(1.5); /*modifier top, left et width par rapport a l'ecran*/
      position: fixed;
      top: 30%;
      left: 24%;
      width: 50%;
   }

   /************************\
         PAGE NEW PROJET
   \************************/

   /* Popup container - can be anything you want */
   .popupinfo {
      position: relative;
   }

   .popupinfo .popuptexteinfo {
      bottom: 70%;
      margin-left: -116px;
   }

   #descriptionC{
      height: 6em;
   }

}
